/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Scott Underwood
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/* HOMEPAGE STYLES */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

.button {
     background: none repeat scroll 0 0 #45ac9d;
}

/*FRONT PAGE BLOG POST STYLES*/
.recent-posts {
  overflow: hidden;
}

.blog-post {
	width: 50%;
	float: left;
	margin-bottom: 2em;
}

.blog-post h4 {
    font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}

.blog-post h3 {
	font-size: 1.5em;
}

.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}


/* Case Study Styles */

aside.case-study-sidebar {
  float: left;
  width: 300px;
}

div.case-study-images {
  float:left;
  width: 600px;
}

.case-study-sidebar h5 {
  font-weight:normal;
}

.back-to-work-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}


/* Landing Page Styles */

.featured-work {
  text-align: center;
  margin: 0 0 50px 0;
}

.featured-work h3{
  padding-bottom: 30px;
}

.featured-work ul {
  list-style: none;
}

.homepage-featured-work li {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
}


/* Case Studies Archive */

div.case-study-images img {
	width: 100%;
	height: auto;
}


.case-study-sidebar {
  margin: 50px 20px 50px 20px;
}

.case-study-sidebar p a {
  color: #45ac9d;
}

.case-study-images {
  margin: 50px 10px 50px 10px;
}


/* Social Media Nav Styles */

#menu-social-media-nav {
text-align: right;
}

#menu-social-media-nav li {
display: inline-block;
list-style: none;
background-color: #000;
fill: #fff;
height: 22px;
width: 22px;
border-radius: 50%;
text-align: center;
margin: 0 2px 0 2px;
}

#menu-social-media-nav li a {
  color: #fff;
}
